@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap');

html{
    font-size: 62.5%; /* 1rem = 10px */
    scroll-behavior: smooth;
}
:root{
--body-font: 'Poppins', sans-serif;

--big-font: 4rem;
--h1-font: 3.6rem;
--h2-font: 2.4rem;
--h3-font: 2rem;
--h4-font: 1.8rem;
--normal-font: 1.6rem;
--small-font: 1.4rem;
--smaller-font: 1.3rem;

/* Font Weight ***/
--font-regular: 400;
--font-medium: 500;
--font-semi-bold: 600;

/* Color Variables */
--primary-color: #C87E4F;
--primary-color-hover: #C2703D;
--text-color: #333;
--text-color-light: #888682;
--border-color: #484848;
--white-color: #FFF;
--section-bg: #2C3034;

/* z-index */
--z-overlay: 10;
--z-fixed: 100;

/* transition */
--tran-0-2: 0.2s;
--tran-0-3: 0.3s;
--tran-0-5: 0.5s;
}
:root{
  --icon-clr: #8E5441;
  --heading: #342519;
  --light-brown: #B39977;
  --dark-brown: #532C1F;
  --white: #E9E7E4;
  --cream: #C1AA90;
  --sand: #695441;
}

/*Font sizes For Small Screen 968px */
@media screen and (max-width: 990px) {
:root {
  --big-font: 3.5rem;
  --h1-font: 2.4rem;
  --h2-font: 2rem;
  --h3-font: 1.8rem;
  --h4-font: 1.6rem;
  --normal-font: 1.5rem;
  --small-font: 1.3rem;
  --smaller-font: 1.2rem;
}
}


/* Pre-CSS */
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body{
  overflow-x: hidden;
  background-color: var(--white-color);
}

/* Custom Scrollbar */
::selection{
  background-color: var(--primary-color);
  color: var(--white-color);
}
::-webkit-scrollbar{
  width: 8px;
}
::-webkit-scrollbar-track{
  background-color: #f9f1ec;
}
::-webkit-scrollbar-thumb{
  border-radius: 1rem;
  background-color: var(--primary-color);
}
::-webkit-scrollbar-thumb:hover{
  border-radius: 1rem;
  background-color: var(--primary-color-hover)
}

body,
button,
input{
  font-family: var(--body-font);
  font-size: var(--normal-font);
  font-weight: var(--font-regular);
  color: var(--text-color);
}

input{
  outline: none;
}
ul{
  list-style: none;
}
a{
  text-decoration: none;
}
img{
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/* Reusuable CSS */
.section{
  padding: 7rem 2rem;
}
.container{
  max-width: 1030px;
  width: 100%;
  margin: 0 auto;
  padding: 0 3rem;
}
.flex{
  display: flex;
  align-items: center;
  column-gap: 0.6rem;
}
.button{
  border: none;
  outline: none;
  color: var(--white-color);
  padding: 1.4rem 4rem;
  border-radius: 3rem;
  background-color: var(--primary-color);
  transition: var(--tran-0-3);
  cursor: pointer;
}
.button:hover{
  background-color: var(--primary-color-hover);
}
.section-subtitle,
.content-subtitle{
  color: var(--primary-color);
  font-size: var(--normal-font);
  letter-spacing: 1px;
  font-weight: var(--font-medium);
  text-align: center;
}
.section-title,
.content-title{
  text-align: center;
  font-size: var(--h2-font);
  font-weight: var(--font-medium);
  margin: 1rem 0;
}
.section-description,
.content-description{
  text-align: center;
  margin-bottom: 2rem;
}
.section-description{
  padding: 0 16rem;
}
/* Header */
.header{
  position: fixed;
  top: 0;
  left: 0;
  height: 7rem;
  width: 100%;
  z-index: var(--z-fixed);
  transition: var(--tran-0-5);
}
.header-active{
  height: 6rem;
  background-color: var(--white-color);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

/* nav */
.nav{
  position: relative;
  height: 100%;
  align-items: center;
  justify-content: space-between;
  display: flex;
}
.logo-icon,
.logo-text,
.nav-link,
.phone-icon,
.phone-number{
  color: rgb(252, 248, 248);
}

.header-active .logo-icon,
.header-active .logo-text,
.header-active .nav-link,
.header-active .phone-icon,
.header-active .phone-number,
.header-active .cart_icon{
  color:black;
}

.logo-icon,
.phone-icon{
  font-size: 2rem;
}
.menu-list{
  column-gap: 2rem;
}
.nav-link{
  position: relative;
  text-transform: capitalize;
}
.nav-link::before{
  content: '';
  position: absolute;
  left: 50%;
  bottom: -8px;
  height: 6px;
  width: 6px;
  border-radius: 50%;
  transform: translateX(-50%);
  background-color: var(--white-color);
  opacity: 0;
}
.active-navlink::before{
  opacity: 1;
}
.header-active .active-navlink::before{
  background-color: var(--text-color);
}
.media-icons{
  column-gap: 1rem;
}
.media-icons a{
  color: var(--text-color-light);
}
.navClose-btn,
.navOpen-btn,
.media-icons{
  display: none;
}

/* nav responsive */
@media screen and (max-width: 768px) {
  .contact-content{
    display: none;
  }
  .navClose-btn,
  .navOpen-btn,
  .media-icons{
  display: block;
}
  .nav .menu-content{
    position: fixed;
    top: 0;
    right: -100%;
    max-width: 300px;
    width: 100%;
    height: 100%;
    z-index: var(--z-fixed);
    padding: 10rem 0 5rem;
    background-color: var(--white-color);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    transition: var(--tran-0-5);
  }
  .nav .menu-content.open{
    right: 0;
  }
  .menu-list{
    flex-direction: column;
    row-gap: 2.5rem;
    font-size: var(--h4-font);
  }
  .nav-link{
    color: var(--text-color);
  }
  .nav-link::before{
    background-color: var(--text-color);
  }
  .navClose-btn{
    position: absolute;
    top: 2rem;
    right: 2rem;
    font-size: 2.5rem;
    cursor: pointer;
  }
  .navOpen-btn{
    font-size: 2rem;
    cursor: pointer;
    color: var(--white-color);
    margin-bottom: 1.7rem;
    position: absolute;
    right: 0;
    margin-right: 1rem;
  }
  .header-active .navOpen-btn{
    color: var(--text-color);
  }
}
    .contactus{
        position: relative;
        width: 100%;
        padding: 40px 100px;
    }
    .contactus .title{
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 2em;
    }
    .contactus .title{
        color: #fff;
        font-weight: 500;
    }
    .form{
        grid-area: form;
    }
    .info{
        grid-area: info;
    }
    .map{
        grid-area: map;

        }
        .contact{
            padding: 40px;
            background: #fff;
            box-shadow: 0 5px 35px rgba(0,0,0,0.15);
        }
    .box{
        position: relative;
        display: grid;
        grid-template-columns: 2fr 1fr;
        grid-template-rows: 5fr 4fr;
        grid-template-areas: 
        "form info"
        "form map";
        grid-gap: 20px;
        margin-top: 20px;
    }
    .contact h3{
        color:#532c1f;
        font-weight:500;
        font-size: 1.4em;
        margin-bottom: 10px;
    }
    .formBox{
        position: relative;
        width: 100%;
    }
    .formBox .row50{
        display: flex;
        gap: 20px;
    }
    .inputBox{
        display: flex;
        flex-direction: column;
        margin-bottom: 10px;
        width: 50%;
    }
    .formBox .row100 .inputBox{
        width: 100%;
    }
    .inputBox span{
         color: #0f1010;
         margin-top: 10px;
         margin-bottom: 5px;
         font-weight: 500;
        

    }
    .inputBox input{
        padding: 10px;
        font-size: 1.1em;
        outline:none;
        border: 1px solid #333;
    }
    .inputBox textarea{
        margin-top: 10px;
        font-size: 1.1em;
        outline: none;
        border:1px solid #333 ;
        resize: none;
        min-height: 200px;
        margin-bottom: 10px;
    }
    .inputBox input[type="submit"]
    {
        background:  #532C1F;
        color: #fef9f9;
        border: navy;
        font-size: 1.1em;
        max-width: 120px;
        font-weight: 500;
        cursor: pointer;
        padding: 14px 15px;
    }
    .inputBox ::placeholder{
        color: #999;
    }
    .info{
        background: #532C1F;
    }
    .info h3{
        color: #fff;
    }
    .info .infoBox div{
        display: flex;
        align-items: center;
        margin-bottom: 10px;
    }
    .info .infoBox div span{
        min-height: 40px;
        height: 40px;
        color: #fff;
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 1.4em;
        border-radius: 60%;
        margin-right: 15px;
    }
.info .infoBox div p{
    color: #fff;
    font-size: 1.1em;
}
.info .infoBox div a{
    color: #fff;
    text-decoration: none;
    font-size: 1.1em;
}
.sci{
    margin-top: 40px;
    display: flex;
}
.sci li{
    list-style: none;
    margin-left: 15px;
}
.sci li a{
    font-size: 1.4rem;
    color: #ccc;
}
.sci li a:hover{
    color: #fff;
}
.map{
    padding: 0;
}
.map iframe{
    width: 100%;
    height: 100%;
}
@media (max-width: 768px) {
  .contactus {
    margin: 20px;
  }
  .box {
    flex-direction: column;
  }
  .contact {
    flex-basis: 100%;
    margin: 10px;
  }
  .map {
    flex-basis: 100%;
    margin: 10px;
  }
  .formBox {
    flex-direction: column;
  }
  .row50 {
    flex-basis: 100%;
  }
  .infoBox {
    flex-direction: column;
  }
  .infoBox div {
    flex-basis: 100%;
  }
}

@media (max-width: 480px) {
  .contactus {
    margin: 10px;
  }
  .inputBox input[type="text"],
  .inputBox textarea {
    padding: 5px;
  }
  .inputBox input[type="submit"] {
    padding: 5px 10px;
  }
  .infoBox span {
    font-size: 18px;
  }
  .sci {
    flex-direction: column;
  }
  .sci li {
    margin: 5px;
  }
  .sci a {
    font-size: 18px;
  }
}
.footer{
  padding: 4rem 2rem 3rem;
  background-color: #532c1f;
}
.footer .content-description,
.footer .map-icon,
.footer .location-text{
  color: rgb(252, 248, 248);
}
.footer-container{
  display: grid;
  grid-template-columns: 1fr 2fr;
  column-gap: 2rem;
  align-items: center;
}
.footer-content{
  display: grid;
  row-gap: 3rem;
}
.footer .logo-text,
.footer .logo-icon{
  color: rgb(254, 250, 250);
  font-size: 2rem;
  font-weight:500;
}
.footer .logo-icon{
  font-size: 3rem;
}
.footer .content-description,
.footer .location-text{
  text-align: left;
  font-size: 1.4rem;
}
.footer .map-icon{
  font-size: 3rem;
  margin-right: 1rem;
}
.footer-linkContent{
  display: grid;
  grid-template-columns: repeat(3,1fr);
  justify-items: end;
}
.footer-links{
  display: grid;
  row-gap: 1rem;
  font-weight: 500;
  color:white;
}
.footer-link{
  font-size: 1.4rem;
  color: rgba(255, 255, 255, 0.5);
  transition:0.3s;
}
.footer-link:hover{
  color: rgba(255, 255, 255, 0.8);
}
/* cart icon */
.cart_icon{
  position: fixed;
  right: 1.5rem;
  top: 1.5rem;
  font-size: 1.7rem;
  cursor: pointer;
  /* color: var(--dark-brown); */
  color: white;
}
#cartPopup{
  width: 30%;
  height: 100%;
  position: fixed;
  right: 0;
  top: 0;
  background-color: white;
  box-shadow: 0 0 1rem black;
  padding: 2rem 0;
  text-align: center;
  transition: left 1s ease-in-out;
  display: none;
  z-index: 99999;
}
#cartHeader{
  display: flex;
  justify-content: space-between;
  margin: 1rem;
}
#cartHeader h2{
  color: black;
  font-size: 2.5rem;
}
#closeCart{
  /* border-radius: 50%; */
  padding: 0 1rem;
  font-size: 1.8rem;
  color: black;
  background-color: transparent;
  cursor: pointer;
  transition: all .5s;
  border: none;
  outline: none;
}
#closeCart:hover{
  font-size: 2.5rem;
}
#cartFooter{
  display: flex;
  margin: 1rem;
  justify-content: space-between;
}
#clearCart{
  color: var(--dark-brown);
  background-color: var(--white);
  padding: .5rem 1rem;
  font-weight: bold;
  font-size: 1.7rem;
  border: 2px solid var(--dark-brown);
  border-radius: 1rem;
  transition: all .5s;
  cursor: pointer;
}
#clearCart:hover{
  color: var(--white);
  border-color: var(--white);
  background-color: var(--dark-brown);
}
#totalAmount{
  font-size: 1.5rem;
  color: black;
}
#cartItems{
  color: var(--dark-brown);
  text-align: left;
}
.cart_item{
  font-size: 1.7rem;
  display: flex;
  justify-content: space-between;
  box-shadow: 0 0 5px black;
  margin-bottom: .5rem;
  padding: 1rem;
  font-weight: bold;
}
.remove_item {
  background: red;
  color: white;
  border: none;
  padding: 0.2rem 0.5rem;
  cursor: pointer;
  border-color: black;
}
.quantity {
  width: 50px;
  text-align: center;
}
.checkout{
  font-weight: bold;
  font-size: 2rem;
  color: black;
}
.checkout:hover{
  font-size: 2.2rem;
  color: blue;
}
/* cart media query */
@media (max-width:1024px){
  .cart_icon{
    font-size: 2.2rem;
}
#cartPopup{
    padding: 1.5rem 0;
}
#cartHeader h2{
    font-size: 2rem;
}
#closeCart{
    padding: 0 .5rem;
    padding-top: .3rem;
    padding-bottom: .2rem;
    font-size: 1.5rem;
}
#cartFooter{
    display: flex;
    flex-direction: column;
}
#clearCart{
    padding: .5rem .7rem;
    border-radius: .7rem;
    font-size: 1.5rem;
    margin-bottom: 1rem;
}
#totalAmount{
    font-size: 1.7rem;
}
#cartItems{
    font-size: 1.5rem;
}
.cart_item{
    box-shadow: 0 0 3px black;
    margin-bottom: .5rem;
    padding: .7rem;
    display: flex;
    flex-wrap: wrap;
    gap: .5rem;
    justify-content: center;
}
.remove_item {
    padding: 0.2rem;
}
.quantity {
    width: 40px;
}
}
@media (max-width: 768px){
  .cart_icon{
    font-size: 1.5rem;
    margin-right: 4rem;
}
#cartPopup{
    padding: 1.5rem 0;
    width: 40%;
}
#cartHeader h2{
    font-size: 1.7rem;
}
#clearCart{
    padding: .5rem .7rem;
    border-radius: .5rem;
    font-size: 1.3rem;
}
#totalAmount{
    font-size: 1.3rem;
}
#cartItems{
    font-size: 1.3rem;
}
.cart_item{
    box-shadow: 0 0 2px black;
    margin-bottom: .3rem;
    padding: .7rem;
    display: flex;
    flex-wrap: wrap;
    gap: 5px;
}
.remove_item {
    padding: 0.3rem 0.5rem;
}
}
@media (max-width: 600px){
/* cart media query */
#cartPopup{
padding: 1.3rem 0;
width: 50%;
}
}
@media (max-width:480px){
   /* cart media query */
   #cartPopup{
    padding: 1.3rem 0;
    width: 100%;
    }
}
