@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap');

html{
    font-size: 62.5%;
    scroll-behavior: smooth;
}
:root{
--body-font: 'Poppins', sans-serif;

--big-font: 4rem;
--h1-font: 3.6rem;
--h2-font: 2.4rem;
--h3-font: 2rem;
--h4-font: 1.8rem;
--normal-font: 1.6rem;
--small-font: 1.4rem;
--smaller-font: 1.3rem;

/* Font Weight ***/
--font-regular: 400;
--font-medium: 500;
--font-semi-bold: 600;

/* Color Variables */
--primary-color: #C87E4F;
--primary-color-hover: #C2703D;
--text-color: #333;
--text-color-light: #888682;
--border-color: #484848;
--white-color: #FFF;
--section-bg: #2C3034;

/* z-index */
--z-overlay: 10;
--z-fixed: 100;

/* transition */
--tran-0-2: 0.2s;
--tran-0-3: 0.3s;
--tran-0-5: 0.5s;
}
:root{
  --icon-clr: #8E5441;
  --heading: #342519;
  --light-brown: #B39977;
  --dark-brown: #532C1F;
  --white: #E9E7E4;
  --cream: #C1AA90;
  --sand: #695441;
}

/*Font sizes For Small Screen 968px */
@media screen and (max-width: 990px) {
:root {
  --big-font: 3.5rem;
  --h1-font: 2.4rem;
  --h2-font: 2rem;
  --h3-font: 1.8rem;
  --h4-font: 1.6rem;
  --normal-font: 1.5rem;
  --small-font: 1.3rem;
  --smaller-font: 1.2rem;
}
}
body {
            /* background-image: url('images/lg2.jpg'); */
            /* background-size: cover; */
            background-position: center;
            margin: 0;
            font-family: Arial, sans-serif;
            color: #fff;
            padding-top: 4%; 
            background:url(./photos/bg-img.jpg);
            height: 80vh;
            background-size: cover;
        }

/* Custom Scrollbar */
::selection{
  background-color: var(--primary-color);
  color: var(--white-color);
}
::-webkit-scrollbar{
  width: 8px;
}
::-webkit-scrollbar-track{
  background-color: #f9f1ec;
}
::-webkit-scrollbar-thumb{
  border-radius: 1rem;
  background-color: var(--primary-color);
}
::-webkit-scrollbar-thumb:hover{
  border-radius: 1rem;
  background-color: var(--primary-color-hover)
}

body,
button,
input{
  font-family: var(--body-font);
  font-size: var(--normal-font);
  font-weight: var(--font-regular);
  color: var(--text-color);
}

input{
  outline: none;
}
ul{
  list-style: none;
}
a{
  text-decoration: none;
}
img{
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/* Reusuable CSS */
.section{
  padding: 7rem 2rem;
}
.container{
  max-width: 1030px;
  width: 100%;
  margin: 0 auto;
  padding: 0 3rem;
}
.flex{
  display: flex;
  align-items: center;
  column-gap: 0.6rem;
}
.button{
  border: none;
  outline: none;
  color: var(--white-color);
  padding: 1.4rem 4rem;
  border-radius: 3rem;
  background-color: var(--primary-color);
  transition: var(--tran-0-3);
  cursor: pointer;
}
.button:hover{
  background-color: var(--primary-color-hover);
}
.section-subtitle,
.content-subtitle{
  color: var(--primary-color);
  font-size: var(--normal-font);
  letter-spacing: 1px;
  font-weight: var(--font-medium);
  text-align: center;
}
.section-title,
.content-title{
  text-align: center;
  font-size: var(--h2-font);
  font-weight: var(--font-medium);
  margin: 1rem 0;
}
.section-description,
.content-description{
  text-align: center;
  margin-bottom: 2rem;
}
.section-description{
  padding: 0 16rem;
}
/* Header */
.header{
  position: fixed;
  top: 0;
  left: 0;
  height: 7rem;
  width: 100%;
  z-index: var(--z-fixed);
  transition: var(--tran-0-5);
}
.header-active{
  height: 6rem;
  background-color: var(--white-color);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

/* nav */
.nav{
  position: relative;
  height: 100%;
  align-items: center;
  justify-content: space-between;
}
.logo-icon,
.logo-text,
.nav-link,
.phone-icon,
.phone-number{
  color: var(--white-color);
}

.header-active .logo-icon,
.header-active .logo-text,
.header-active .nav-link,
.header-active .phone-icon,
.header-active .phone-number,
.header-active .cart_icon{
  color: var(--text-color);
}

.logo-icon,
.phone-icon{
  font-size: 2rem;
}
.menu-list{
  column-gap: 2rem;
}
.nav-link{
  position: relative;
  text-transform: capitalize;
}
.nav-link::before{
  content: '';
  position: absolute;
  left: 50%;
  bottom: -8px;
  height: 6px;
  width: 6px;
  border-radius: 50%;
  transform: translateX(-50%);
  background-color: var(--white-color);
  opacity: 0;
}
.active-navlink::before{
  opacity: 1;
}
.header-active .active-navlink::before{
  background-color: var(--text-color);
}
.media-icons{
  column-gap: 1rem;
}
.media-icons a{
  color: var(--text-color-light);
}
.navClose-btn,
.navOpen-btn,
.media-icons{
  display: none;
}

/* nav responsive */
@media screen and (max-width: 768px) {
  .contact-content{
    display: none;
  }
  .navClose-btn,
  .navOpen-btn,
  .media-icons{
  display: block;
}
  .nav .menu-content{
    position: fixed;
    top: 0;
    right: -100%;
    max-width: 300px;
    width: 100%;
    height: 100%;
    z-index: var(--z-fixed);
    padding: 10rem 0 5rem;
    background-color: var(--white-color);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    transition: var(--tran-0-5);
  }
  .nav .menu-content.open{
    right: 0;
  }
  .menu-list{
    flex-direction: column;
    row-gap: 2.5rem;
    font-size: var(--h4-font);
  }
  .nav-link{
    color: var(--text-color);
  }
  .nav-link::before{
    background-color: var(--text-color);
  }
  .navClose-btn{
    position: absolute;
    top: 2rem;
    right: 2rem;
    font-size: 2.5rem;
    cursor: pointer;
  }
  .navOpen-btn{
    font-size: 2rem;
    cursor: pointer;
    color: var(--white-color);
    margin-bottom: 1.7rem;
    position: absolute;
    right: 0;
    margin-right: 1rem;
  }
  .header-active .navOpen-btn{
    color: var(--text-color);
  }
}
        header h1 {
            margin: 0;
            font-size: 2.5rem;
        }

        section {
            padding: 20px;
            background-color:rgb(61 45 45 / 28%);;
            margin: 20px;
            border-radius: 10px;
        }

        h2 {
            text-align: center;
            font-size: 2rem;
            margin-bottom: 20px;
            color: #fff;
        }

        .gallery {
            display: grid;
            grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
            gap: 15px;
        }

        .gallery-item {
            position: relative;
            overflow: hidden;
            border-radius: 10px;
            height: 0;
            padding-bottom: 66.67%; 
            transition: transform 0.3s ease;
        }

        .gallery-item img {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            object-fit: cover;
        }

        .gallery-item .overlay {
            position: absolute;
            bottom: 0;
            left: 0;
            right: 0;
            background: rgba(0, 0, 0, 0.5);
            overflow: hidden;
            width: 100%;
            height: 0;
            transition: .5s ease;
        }

        .gallery-item:hover .overlay {
            height: 100%;
        }

        .text {
            color: white;
            font-size: 1.5rem;
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            text-align: center;
            width: 80%;
            text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.7);
        }

        .footer{
  padding: 4rem 2rem 3rem;
  background-color: #532c1f;
}
.footer .content-description,
.footer .map-icon,
.footer .location-text{
  color: white;
}
.footer-container{
  display: grid;
  grid-template-columns: 1fr 2fr;
  column-gap: 2rem;
  align-items: center;
}
.footer-content{
  display: grid;
  row-gap: 3rem;
}
.footer .logo-text,
.footer .logo-icon{
  color:white;
  font-size: 2rem;
  font-weight: var(--font-medium);
}
.footer .logo-icon{
  font-size: 3rem;
}
.footer .content-description,
.footer .location-text{
  text-align: left;
  font-size: var(--small-font);
}
.footer .map-icon{
  font-size: 3rem;
  margin-right: 1rem;
}
.footer-linkContent{
  display: grid;
  grid-template-columns: repeat(3,1fr);
  justify-items: end;
}
.footer-links{
  display: grid;
  row-gap: 1rem;
  font-weight: var(--font-medium);
  color: var(--white-color);
}
.footer-link{
  font-size: var(--small-font);
  color: rgba(255, 255, 255, 0.5);
  transition: var(--tran-0-3);
}
.footer-link:hover{
  color: rgba(255, 255, 255, 0.8);
}
.footer-copyRight{
  max-width: 970px;
  margin: 0 auto;
  text-align: center;
  padding-top: 3rem;
  margin-top: 3rem;
  font-size: var(--small-font);
  border-top: 2px solid var(--text-color-light);
  color: rgba(255, 255, 255, 0.8);;
}

        /* Responsive styles */
        @media (max-width: 768px) {
            header h1 {
                font-size: 2rem;
            }

            h2 {
                font-size: 1.75rem;
            }

            .gallery-item .text {
                font-size: 1.25rem;
            }
        }

        @media (max-width: 480px) {
            header h1 {
                font-size: 1.75rem;
            }

            h2 {
                font-size: 1.5rem;
            }

            .gallery-item .text {
                font-size: 1rem;
            }
        }
      /* cart icon */
.cart_icon{
  position: fixed;
  right: 1.5rem;
  top: 1.5rem;
  font-size: 1.7rem;
  cursor: pointer;
  /* color: var(--dark-brown); */
  color: white;
}
#cartPopup{
  width: 30%;
  height: 100%;
  position: fixed;
  right: 0;
  top: 0;
  background-color: white;
  box-shadow: 0 0 1rem black;
  padding: 2rem 0;
  text-align: center;
  transition: left 1s ease-in-out;
  display: none;
  z-index: 99999;
}
#cartHeader{
  display: flex;
  justify-content: space-between;
  margin: 1rem;
}
#cartHeader h2{
  color: black;
  font-size: 2.5rem;
}
#closeCart{
  /* border-radius: 50%; */
  padding: 0 1rem;
  font-size: 1.8rem;
  color: black;
  background-color: white;
  cursor: pointer;
  transition: all .5s;
  border: none;
}
#closeCart:hover{
  font-size: 2.5rem;
}
#cartFooter{
  display: flex;
  margin: 1rem;
  justify-content: space-between;
}
#clearCart{
  color: var(--dark-brown);
  background-color: var(--white);
  padding: .5rem 1rem;
  font-weight: bold;
  font-size: 1.7rem;
  border: 2px solid var(--dark-brown);
  border-radius: 1rem;
  transition: all .5s;
  cursor: pointer;
}
#clearCart:hover{
  color: var(--white);
  border-color: var(--white);
  background-color: var(--dark-brown);
}
#totalAmount{
  font-size: 1.5rem;
  color: black;
}
#cartItems{
  color: var(--dark-brown);
  text-align: left;
}
.cart_item{
  font-size: 1.7rem;
  display: flex;
  justify-content: space-between;
  box-shadow: 0 0 5px black;
  margin-bottom: .5rem;
  padding: 1rem;
  font-weight: bold;
}
.remove_item {
  background: red;
  color: white;
  border: none;
  padding: 0.2rem 0.5rem;
  cursor: pointer;
  border-color: black;
}
.quantity {
  width: 50px;
  text-align: center;
}
.checkout{
  font-weight: bold;
  font-size: 2rem;
  color: black;
}
.checkout:hover{
  font-size: 2.2rem;
  color: blue;
}
/* cart media query */
@media (max-width:1024px){
  .cart_icon{
    font-size: 2.2rem;
}
#cartPopup{
    padding: 1.5rem 0;
}
#cartHeader h2{
    font-size: 2rem;
}
#closeCart{
    padding: 0 .5rem;
    padding-top: .3rem;
    padding-bottom: .2rem;
    font-size: 1.5rem;
}
#cartFooter{
    display: flex;
    flex-direction: column;
}
#clearCart{
    padding: .5rem .7rem;
    border-radius: .7rem;
    font-size: 1.5rem;
    margin-bottom: 1rem;
}
#totalAmount{
    font-size: 1.7rem;
}
#cartItems{
    font-size: 1.5rem;
}
.cart_item{
    box-shadow: 0 0 3px black;
    margin-bottom: .5rem;
    padding: .7rem;
    display: flex;
    flex-wrap: wrap;
    gap: .5rem;
    justify-content: center;
}
.remove_item {
    padding: 0.2rem;
}
.quantity {
    width: 40px;
}
}
@media (max-width: 768px){
  .cart_icon{
    font-size: 1.5rem;
    margin-right: 4rem;
}
#cartPopup{
    padding: 1.5rem 0;
    width: 40%;
}
#cartHeader h2{
    font-size: 1.7rem;
}
#clearCart{
    padding: .5rem .7rem;
    border-radius: .5rem;
    font-size: 1.3rem;
}
#totalAmount{
    font-size: 1.3rem;
}
#cartItems{
    font-size: 1.3rem;
}
.cart_item{
    box-shadow: 0 0 2px black;
    margin-bottom: .3rem;
    padding: .7rem;
    display: flex;
    flex-wrap: wrap;
    gap: 5px;
}
.remove_item {
    padding: 0.3rem 0.5rem;
}
}
@media (max-width: 600px){
/* cart media query */
#cartPopup{
padding: 1.3rem 0;
width: 50%;
}
}
@media (max-width:480px){
   /* cart media query */
   #cartPopup{
    padding: 1.3rem 0;
    width: 100%;
    }
}